.AboutHero{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutHero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.AboutUsPage{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AboutHeader{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.AboutHeader h1{
    font-size: 2.6rem;
    color: #05446E;
}
.AboutUs{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.RightAboutUs{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5%;
}
.RightAboutUs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.LeftAboutUs{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 7%;
    flex-direction: column;
    font-family: 'Lora',serif;
}
.LeftHold{
    font-size: 1.3rem;
    color: #05446E;
}
.MissionPage{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.OurMission{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LeftOurMission{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5%;
}
.LeftOurMission img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.RightOurMission{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 7%;
    font-family: 'Lora',serif;
}
.OurMissionHeader{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.OurMissionHeader h1{
    font-size: 2.5rem;
    color: #05446E;
}
.RightMission p{
    font-size: 1.2rem;
    color: #05446E;
}
.RightMission{
    height: 40%;
    width: 80%;
}
.MeetUsPage{
    width: 100%;
    height: 100vh;
    /* background: pink; */
}
.MeetTeamHeader{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}
.MeetTeamHeader p{
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Lora',serif;
    font-weight: 600;
    color: #05446E;
}
.MeetTeamHeader h1{
    font-family: 'Lora',serif;
    font-weight: 600;
    color: #05446E;
}
.ImageHolderPage{
    width: 100%;
    height: 87%;
    /* background: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.ImageHolderWrap{
    width: 90%;
    height: 90%;
    /* border: 3px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px ;
}
.Cards{
    width: 23.7%;
    height: 70%;
    background: #fdfdf7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.CardUp{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CardUp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.CardDown{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.CardDown p{
    font-size: 1.2rem;
    color: #05446E;
    font-family: 'Lora',serif;
    font-weight: 700;
}

@media screen  and (max-width:320px) {
    .AboutUs{
        flex-direction: column;
       gap: 7%;
    }
    .LeftHold p{
        font-size: 0.7rem;
    }
    .LeftAboutUs{
        width: 90%;
    }
    .AboutHeader h1{
        font-size: 1.5rem;
    }
    .RightAboutUs{
        width: 90%;
    }
    .OurMission{
        flex-direction: column-reverse;
        gap: 8%;
    }
    .LeftOurMission{
        width: 90%;
    }
    .RightOurMission{
        width: 90%;
        justify-content: space-evenly;
    }
    .RightMission p{
        font-size: 0.7rem;
    }
    .OurMissionHeader h1{
        font-size: 1.5rem;
    }
    .MeetUsPage{
        height: 80rem;
        /* background: #000; */
    }
    .ImageHolderWrap{
        flex-direction: column;
    }
    .Cards{
        width: 90%;
        height: 25%;
    }
}

