.HotelHold{
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HotelContainer{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.HotelCard{
    width: 26%;
    height: 50%;
    background: #fdfdf7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1% 1%;
}
.HotelImg{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HotelImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.HotelContext{
    width: 100%;
    height: 35%;
    border: 2px solid white;
}
.HotelName{
    width: 100%;
    height: 30%;
    padding-inline: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.HotelName h4{
    font-family: 'Lora',serif;
    font-size: 0.9rem;
    color: #05446E;
}
.HotelLocationReviews{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Hoteloc{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hoteloc span{
    font-family: 'Lora',serif;
    font-size: 0.9rem;
    color: #d9d9d9;
}
.HotelReview{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fb8500;
}
.HotelBtn{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 10px;
}
.HotelBtn button{
    width: 50%;
    height: 70%;
    background: #fb8500;
    border: none;
    color: #fdfdf7;
    border-radius: 6px;
    cursor: pointer;

}


@media screen and (max-width: 800px) {
    .AllHotels{
        /* background: #000; */
        width: 100%;
        height: 75rem;
    }
    .AllCardHolder{
        width: 100%;
        height: 100%;
        /* background: red; */
    }
    .HotelCardHold{
        width: 38%;
        height: 30%;
        /* background: green; */
    }
    .HotelName h3{
        font-size: 3rem;
    }
    .AllCardHolder h3{
        font-size: 1.3rem;
    }
    .LocationIcon{
        font-size: 1.2rem;
    }
    .HotelStarIcon .StarIcon{
        font-size: 0.9rem;
    }
   .HotelStarIcon .StarIconLast{
        font-size: 0.9rem;
    }
    .HotelBtn button{
        height: 60%;
        width: 70%;
    }
   

}
@media screen and (max-width: 600px) {
    .AllHotels{
        /* background: #000; */
        width: 100%;
        height: 55rem;
    }
    .AllCardHolder{
        width: 100%;
        height: 100%;
        /* background: red; */
    }
    .HotelCardHold{
        width: 44.5%;
        height: 30%;
        /* background: green; */
    }
    .HotelName h3{
        font-size: 1.2rem;
    }
    .AllCardHolder h3{
        font-size: 0.7rem;
    }
    .LocationIcon{
        font-size: 0.6rem;
    }
    .HotelStarIcon .StarIcon{
        font-size: 0.9rem;
    }
   .HotelStarIcon .StarIconLast{
        font-size: 0.9rem;
    }
    .HotelBtn button{
        height: 60%;
        width: 70%;
    }
   

}

@media screen and (max-width: 400px) {
    .AllHotels{
        /* background: #000; */
        width: 100%;
        height: auto;
    }
    .AllCardHolder{
        width: 100%;
        height: 100rem;
    }
    .HotelCardHold{
        width: 90%;
        height: 15.8%;
    }
    .HotelName h3{
        font-size: 1rem;
    }
    .AllCardHolder h3{
        font-size: 0.9rem;
    }
    .LocationIcon{
        font-size: 0.9rem;
    }
    .HotelStarIcon .StarIcon{
        font-size: 0.9rem;
    }
   .HotelStarIcon .StarIconLast{
        font-size: 0.9rem;
    }
    .HotelBtn button{
        height: 75%;
    }
   

}

@media screen and (max-width: 320px) {
    .AllHotels{
        /* background: #000; */
        width: 100%;
        height: auto;
    }
    .AllCardHolder{
        width: 100%;
        height: 100rem;
    }
    .HotelCardHold{
        width: 90%;
        height: 15.8%;
    }
    .HotelName h3{
        font-size: 1rem;
    }
    .AllCardHolder h3{
        font-size: 0.9rem;
    }
    .LocationIcon{
        font-size: 0.9rem;
    }
    .HotelStarIcon .StarIcon{
        font-size: 0.9rem;
    }
   .HotelStarIcon .StarIconLast{
        font-size: 0.9rem;
    }
    .HotelBtn button{
        height: 75%;
    }
   

}