.ContactBody{
    width: 100%;
    height: 100vh;
    background: #FDFDF7;
}
.ContactHero{
    width: 100%;
    height: 60%;
    background: linear-gradient(#05446E, #FDFDF7);
    display: flex;
    
}

.HeroLeft{
    width: 60%;
    height: 100%;
   
 
}

.HeroRight{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeroRight h1{
    font-size: 80px;
    color: #05446E;
    font-family: "Lora", serif;
    font-weight: 500;
}

.Contact{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.TalkPage{
    width: 100%;
    height: 55%;
    /* background: pink; */
    display: flex;
}
.TalkLeft{
    width: 50%;
    height: 100%;
    /* background: grey; */
}

.Suggestion{
    width: 100%;
    height: 30%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    padding: 7%;
    flex-direction: column;
}

.Suggestion h3{
    font-size: 2.1rem;
    color: #05446E;
    font-family: "Lora", serif;
    font-weight: 700;
}

.Suggestion p{
    font-size: 0.9rem;
    color: #164361;
    font-family: "Lora", serif;
    font-weight: 200;
    /* padding-top: 3px; */
}

.IconHold{
    width: 100%;
    height: 50%;
    /* background:green; */
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
    padding-inline: 40px;
}


.TalkRight{
    width: 50%;
    height: 100%;
    /* background: salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.IconHolder{
    width:50%;
    height:30%;
    /* background:blue; */
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.IconHolder h5{
    font-size: 1.2rem;
    color: #05446E;
    font-weight: 400;
    font-family: 'Lora',serif;
}

.PhoneHolder{
    width: 100%;
    height: 25%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    gap: 12px;
}


.Phone{
    font-size: 2rem;
    color: #05446E;
}

.PhoneHolder h5{
    font-size: 18px;
    color: #05446E;
    font-family: "Lora", serif;
    font-weight: 150;
}

.MailHolder{
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    gap: 8px;
}

.Mail{
    font-size: 2rem;
    color:#05446E;
}

.MailHolder h5{
    font-size: 18px;
    color: #05446E;
    font-family: "Lora", serif;
    font-weight: 150;
}

.InputHolder{
    width: 50%;
    height: 100%;
    background-color:#FDFDF7;
    /* background-color: black; */
   margin-top: 7%;
    box-shadow: 1px 1px 1px 1px;
    display: flex;
    justify-content:flex-start  ;
    align-items: center;
    flex-direction: column;
}

.NameHolder{
 width: 100%;
 height: 20%;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.NameHolder input{
    width: 40%;
    height: 50%;
    border: 2px solid #05446E;
    padding: 3px;
    border-radius: 2px;
    outline: none;  
    border-radius: 8px;
    padding-inline: 10px;
}
.EmailHolder{
    width: 100%;
    height: 20%;
    /* background: green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 15px;
}
.EmailHolder input{
    width: 100%;
    height: 50%;
    border: 2px solid #05446E;
    padding: 3px;
    border-radius: 2px;
    outline: none;
    border-radius: 8px;
    padding-inline: 10px;
}

.PhoneNumberHolder{
    width: 100%;
    height: 20%;
    /* background: green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 15px;
}

.PhoneNumberHolder input{
    width: 100%;
    height: 50%;
    border: 2px solid #05446E;
    padding: 3px;
    border-radius: 2px;
    outline: none;
    border-radius: 8px;
    padding-inline: 10px;
}

.TextareaHolder{
    width: 100%;
    height: 40%;
    /* background: green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 15px;
}

.TextareaHolder textarea{
    width: 100%;
    height: 80%;
    border: 2px solid #05446E;
    padding: 3px;
    border-radius: 2px;
    outline: none;
    border-radius: 8px;
    padding-inline: 10px;
}

.Btn{
    width: 100%;
    height: 55%;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: #05446E;
    color: #FDFDF7;
}

.ButtonHolder{
    width: 100%;
    height: 20%;
    /* background: green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 15px;
}



