*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Aladin', system-ui;
  font-family: 'Lora', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}